<servers>
        <server>
            <id>MyNexusSnapshot</id>
            <username>rahul</username>
            <password>rahul</password>
        </server>
        
        <server>
            <id>MyNexus-Releases</id>
            <username>rahul</username>
            <password>rahul</password>
        </server>
        
</servers>
